*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* shadows */
  --basic--shadow-1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --basic--shadow-2: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --basic--shadow-3: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  --basic--shadow-4: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

  /* colors */
  --bg--main: #161a30;
  --bg--sub: #31304d;
  --text--1: #b6bbc4;
  --text--2: #f0ece5;
}
